.site-header {
  padding: 0px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  /*transition: background-color .3s ease-out;*/
  top: 0;
  /*overflow: hidden;*/
  transition: all .3s ease-out;

  &--is-expanded {
    background-color: rgba(#FFF, .85);
    height: 100%;
  }
  
  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainBlue, .35);
    height: 80px;
    transition: all .3s ease-out;

    &--dark {
      background-color: rgba(23, 51, 72, .95);
      height: 40px;
      transition: all .3s ease-out;

      & .site-header__logo {
        transform-origin: left top;
        transform: scale(.8);
        @mixin atLarge {
          transform: scale(1);
        }
        transition: all .3s ease-out;
      }

      & .site-header__menu-content {
        transform: translateY(-18px);
      }
      
      & .site-header__btn-container {
        margin: 16px 5px 0 0 ;
      }

    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
      margin: 15px 5px 15px;
    }
  }

  &__logo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    background-color: $mainBlue;
    padding: 10px 35px 10px 10px;
    transition: all .3s ease-out;

    @mixin atMedium {
      left: 2.5%;
      width: 150px;
      height: 80px;
      text-align: center;
    }
  }

  &__logo__graphic {
    color: #FFF;
    font-size: 1.3em;
    font-weight: 300;
    text-align: left;

    @mixin atMedium {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 15px 5px;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 90px;
    text-align: center;
    display: none;

    @mixin atMedium {
      display: block;
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      display: block;
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
}