.wrapper {
	position: relative;
	padding: 10px 5px 0 5px;
	text-align: justify;
	max-width: 900px;
	min-width: 300px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.7rem;
	letter-spacing: .5px;

	/*&__desni-tekst {
		float: right;
	}*/
	&__img-pf1 {
		display: none;
	}

	&__img-pf1s {
		display: block;
	}

	@mixin atMedium {
		&__img-pf1s {
			display: none;
		}

		&__img-pf1 {
		display: block;
	}
	}

	&--footer {
		text-align: center;
	}

	&__gif-div {
		position: relative;
		text-align: center;
		width: 100%;
	}

	&__gif {
		width: 100%;
		margin: 0 0;

		@mixin atMedium {
			width: auto;
			height: 300px;
			margin: 0 5px;
		}
	}

	&__gif2 {
		height: 500px;

		@mixin atMedium {
			margin-left: 20px;
			float: right;
			
		}
	}

	&__bold {
		font-weight: 700;
	}

	&__naslov {
		font-weight: 500;
		text-align: center;
		color: $mainBlue;
	}

	&__naslov--bel {
		font-weight: 300;
		text-align: center;
		color: #FFF;
	}

	&__video {
		position: relative;
		height: 0;
		width: 100%;
		padding-bottom: 80%;
		/*max-width: 900px;*/
		/*text-align: center;*/

		& iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}

		&-ZF {
			padding-bottom: 56.3%;
		}
	}
}